.toco-breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: .5rem;
}

.toco-breadcrumb li {
  display: inline;
  padding: .3rem;
}

.toco-breadcrumb li+li:before {
  padding: .3rem;
  content: "/\00a0"; /* slash symbol (/) */
}

.toco-breadcrumb li {
  display: inline;
}

.toco-breadcrumb li a {
  text-decoration: underline;
}

.toco-breadcrumb [aria-current="page"] {
  text-decoration: none;
}